In [1]:
import pandas as pd
import numpy as np
birddata = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@bird_tracking.csv", index_col=0)
birddata.head()

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419860,2.120733,0.150000,Eric
1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric

# Exercise 1

In Exercise 1, we will group the dataframe by birdname and then find the average speed_2d for each bird. pandas makes it easy to perform basic operations on groups within a dataframe without needing to loop through each value in the dataframe.

### Instructions
Fill in the code to find the mean altitudes of each bird using the pre-loaded birddata dataframe.

Here is the code:

In [16]:
# First, use `groupby()` to group the data by "bird_name".
grouped_birds = birddata.groupby(by='bird_name', axis=0)


# Now calculate the mean of `speed_2d` using the `mean()` function.
s = grouped_birds.speed_2d.mean()

# Find the mean `altitude` for each bird.
a = grouped_birds.altitude.mean()

s

bird_name
Eric     2.300545
Nico     2.908726
Sanne    2.450434
Name: speed_2d, dtype: float64

# Exercise 2

In Exercise 2, we will group the flight times by date and calculate the mean altitude within that day.

### Instructions
Convert birddata.date_time to the pd.datetime format, extract the date, and store it as birddata["date"].

Fill in the code below to find the mean altitudes for each day:

In [26]:
import datetime

# Convert birddata.date_time to the `pd.datetime` format.
birddate['date_time'] = pd.to_datetime(birddata['date_time'][:-3], format=%Y-%m-%d %H:%M:%S')

# Create a new column of day of observation
birddata['date'] = birddata.date_time / datetime.timedelta(days=1)

# Use `groupby()` to group the data by date.
grouped_bydates = birddata.groupby(by='date')

# Find the mean `altitude` for each date.
mean_altitudes_perday = group_bydates.altitude.mean()

TypeError: 'Timestamp' object is not subscriptable