In [11]:
import os 
import pandas as pd 
import numpy as np 
from collections import Counter


def count_words_fast(text): 
    text = text.lower() 
    skips = [".", ",", ";", ":", "'", '"', "\n", "!", "?", "(", ")"] 
    for ch in skips: 
        text = text.replace(ch, "") 
    word_counts = Counter(text.split(" ")) 
    return word_counts

def word_stats(word_counts): 
    num_unique = len(word_counts) 
    counts = word_counts.values() 
    return (num_unique, counts)

# Exercise 1

Note that book_titles is a nested dictionary, containing book titles within authors within languages, all of which are strings. These books are all stored online, and are accessed throughout this case study. In Exercise 1, we will first read in and store each translation of Hamlet.

Instructions

Read in the data as a pandas dataframe using pd.read_csv. Use the index_col argument to set the first column in the csv file as the index for the dataframe. The data can be found at this link within the courseware External link, and at this link when coming from outside the courseware.

Complete the following line of code to read in the data:

In [12]:
hamlets = pd.read_csv('./hamlets.csv', index_col=0)

In [13]:
hamlets #have 3 translations

     language                                               text
1     English  The Tragedie of Hamlet\n                      ...
2      German  Hamlet, Prinz von Dännemark.\n                ...
3  Portuguese  HAMLET\n                             DRAMA EM ...

# Exercise 2

In Exercise 2, we will summarize the text for a single translation of Hamlet in a pandas dataframe.

Instructions:
Find the dictionary of word frequency in text by calling count_words_fast(). Store this as counted_text.

Create a pandas dataframe named data.

Using counted_text, define two columns in data:

- word, consisting of each unique word in text.
- count, consisting of the number of times each word in word is included in the text.

In [17]:
language, text = hamlets.iloc[0]
counted_text = count_words_fast(text)
data = pd.DataFrame({'word': list(counted_text.keys()), 'count': list(counted_text.values())})

In [18]:
data.head()

       word  count
0       the    935
1  tragedie      3
2        of    576
3    hamlet     97
4            45513

# Exercise 3

In Exercise 3, we will continue to define summary statistics for a single translation of Hamlet.

Instructions

Add a column to data named length, defined as the length of each word.

Add another column named frequency, which is defined as follows for each word in data:

- If count > 10, frequency is "frequent".
- If 1 < count <= 10, frequency is "infrequent".
- If count == 1, frequency is "unique".

How many unique words appear in the text?

In [31]:
lengths = []
for word in data.word:
    lengths.append(len(word))

In [32]:
data.length = lengths

In [37]:
def frequency(num):
    f = ''
    if num > 10:
        f = 'frequent'
    elif 1 < num <= 10:
        f = 'infrequent'
    elif num == 1:
        f = 'unique'
    return f

In [54]:
data['count'] = pd.to_numeric(data['count'])
freq = []
for c in data['count']:
    freq.append(frequency(c))

In [58]:
data['frequency'] = freq

In [59]:
data.head()

       word  count  length   frequency
0       the    935       3    frequent
1  tragedie      3       8  infrequent
2        of    576       2    frequent
3    hamlet     97       6    frequent
4            45513       0    frequent

In [60]:
unique = data.loc[data['frequency']=='unique']

In [61]:
unique

              word  count  length frequency
6           primus      1       6    unique
7           scoena      1       6    unique
8            prima      1       5    unique
12       francisco      1       9    unique
14       centinels      1       9    unique
...            ...    ...     ...       ...
5108  shooteexeunt      1      12    unique
5109      marching      1       8    unique
5110         peale      1       5    unique
5111           ord      1       3    unique
5112         finis      1       5    unique

[3348 rows x 4 columns]

# Exercise 4

In Exercise 4, we will summarize the statistics in data into a smaller pandas dataframe.

Instructions
Create a pandas dataframe named sub_data including the following columns:

- language, which is the language of the text (defined in Exercise 2).
- frequency, which is a list containing the strings "frequent", "infrequent", and "unique".
- mean_word_length, which is the mean word length of each value in frequency.
- num_words, which is the total number of words in each frequency category.

What is the average word length of the infrequent words?

In [67]:
sub_data = pd.DataFrame({'language':hamlets.language,'frequency':1,'mean_word_length':1,'num_words':1})